/** CSS STYLE **/
html * {
  box-sizing: border-box;
  margin: unset;
  padding: 0;

  color: #303846;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-decoration: unset;

  list-style-type: none;
}

label,
button,
a {
  outline: none;
  cursor: pointer;
}

textarea:focus,
input:focus,
button:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 1rem #09d3ac;
}

small {
  font-size: smaller;

  opacity: 0.8;
}

select {
  background-color: unset;
}

legend {
  font-weight: bolder;
  font-size: 1.3rem;
}

li {
  list-style-type: none;
}

.bg_white {
  background-color: white;
}

.bg_cream {
  background-color: #f7f7f7;
}

.fl-grow-3 {
  flex-grow: 0.1;
}

.w-20 {
  width: 20%;
}

.mr {
  margin-right: 1rem;
}

.d-inln-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.flx-dir-row-r {
  flex-direction: row-reverse;
}

.content-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.text_center {
  text-align: center;
}

.btn {
  padding: 0.625rem;

  font-size: 1em;

  background-color: unset;
  border-style: groove;
  border-radius: 0.625rem;
}

.border_white {
  border-color: white;
}

.btn:hover {
  opacity: 0.8;
}

h1 {
  font-size: 3em;
}

h2 {
  padding-bottom: 0.5em;

  font-size: 1.8em;
}

.border_green {
  border-color: #09d3ac;
}

.text_green {
  color: #09d3ac;
}

.text_white {
  color: white;
}

.text_bold {
  font-weight: bold;
}

section {
  padding: 3.75rem 0;
}

.logo__img {
  height: 2.5rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
}

.logo-wrapper > .logo {
  margin-bottom: 1rem;
}

.header {
  height: 3.75rem;
  padding: 1rem 2rem;
}

.header-fixed {
  position: fixed;
  right: 0;
  left: 0;
}

/*  Main part */

main {
  padding-top: 3.75rem;
}

#banner {
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#advantages article {
  width: 20%;
}

/* Section with image */

.content {
  max-width: 1000px;
  margin: 0 auto;
}

#about img,
#places img {
  width: 30%;
}

#about article,
#places article {
  width: 45%;
}

#banner img {
  height: 8rem;
}

#banner p {
  padding: 0.5rem;
}

/* Form section */
#booking > .content {
  max-width: 500px;
}

#booking > form > * {
  margin-bottom: 1rem;
}

.fieldset {
  padding: 1rem 2rem;

  border-style: groove;
}

#booking > h2 {
  padding: unset;
}

#booking > form > fieldset > *:not(:first-child) {
  margin-bottom: 1rem;
}

#booking button {
  width: 35%;
}

form div > :nth-child(2) {
  width: 50%;
  padding: 0.3rem 0.5rem;

  font-size: 0.8rem;

  border: 1px solid;
  border-radius: 0.5rem;
}

/* Footer */

.footer {
  background-color: #303846;
}

.footer h3 {
  margin-bottom: 1rem;
}

.list {
  padding-left: 2.5rem;
}
