/** CSS STYLE **/
html *{
  padding: 0;
  margin: unset;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #303846;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: unset;

}
textarea:focus, input:focus, button:focus {
  outline: none;
}
.bg-white {
  background-color: white;
}
.fl-grow-3 {
  flex-grow: .2;
}
.w20 {
  width: 20%;
}
.mr {
  margin-right: 1rem;
}
.d-inln-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.flx-dir-row-r {
  flex-direction: row-reverse;
}
.jst-cnt-center {
  justify-content: center;
}
.jst-cnt-space-btwn {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.txt-align-center {
  text-align: center;
}
.btn {
  padding: .625rem;
  border-color: #fff;
  border-style: groove;
  background-color: unset;
  color: #fff;
  border-radius: .625rem;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  opacity: .8;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.8em;
  padding-bottom: 0.5em;
}
section {
  padding: 3.75rem 0;
}
header img {
  height: 2.5rem;
}
header {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 3.75rem;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: #fff;
}
header * {
  font-weight: bold;
}
nav > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  Main part */

main {
  padding-top: 3.75rem;
}

main > section:first-child {
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Section with image */

.content {
  max-width: 1000px;
}

section:first-child .content > img {
  height: 8rem;
}
section:first-child .content > * {
  color: #fff;
}
section:first-child .content > p {
  padding: .5rem
}
section:nth-child(2) article {
  max-width: 30%;
}
section:nth-child(3) {
  background-color: #f7f7f7;
}
section:nth-child(3) img, section:nth-child(4) img {
  width: 30%;
}
section:nth-child(3) article, section:nth-child(4) article {
  width: 45%;
}
